---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Read better with Audiobooks? We got you covered.";
import Greeting from '../components/Greeting';
---
<BaseLayout pageTitle={pageTitle}>
  <h2>Get 5 free conversions today, no CC </h2>
  <Greeting client:load messages={["Hi", "Hello", "Howdy", "Hey there"]} />
</BaseLayout>